.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10px;
}

.nav-item {
  width: 60px * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__line > div {
  background-color: green;
}

.icon-button {
  width: 38px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
}

/* Dropdown Menu*/

.dropdown {
  position: absolute;
  top: 63px;
  width: 190px;
  transform: translateX(-45%);
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  text-decoration: none;
  height: 35px;
  display: flex;
  align-items: center;
  transition: background 500ms;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.menu-item:hover {
  background-color: #525357;
}

.navbar > div > ul {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
